/*
COLORES material 
    #00838f cyan darken-3
    #d32f2f red darken-2
*/

/*=================Variables de Color=================*/
:root {
	--verde: #2AA65A;
    --limon: #8DC63F;
    --amarillo: #FFF200;
    --naranja: #FAA61A;
    --rosa: #D80B8C;
    --morado: #92278F;
    --marino: #2E3192;
    --azul: #0072BC;

    --primary: var(--morado);
    --secondary: var(--rosa);
    --cta: var(--rosa);
    --bt-azul: var(--azul);
}


/*-------------------------------------------*/
/*---------ACOMODO DE ELEMENTOS--------------*/
/*-------------------------------------------*/

/*-------------------------------------------*/
/*-----------------PAGINADOR-----------------*/
/*-------------------------------------------*/

.paginador{
    position: sticky;
    bottom: 0;
}

.paginador li{
    padding: 15px;
    list-style: none;
    background: #fff;
    margin-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    float: left;
}
.paginador a{
    color: var(--marino);
    border: 1px solid #ddd;
    padding: 5px;
    display: inline-block;
    text-align: center;
    width: 35px;
}
.paginador a:hover{
    background: #ddd;
}
.pageSelected{
    color: var(--rosa);
    background: var(--azul);
    border: 1px solid #000;
}

/*---------------------------*/
/*-------RESPONSIVE 800---------*/
/*-------------------------*/

@media screen and (max-width: 800px){
.quienes{
    grid-template-columns: 1fr;
    grid-template-areas: "nosotros"
                         "mision"
                         "vision";
}
.nosotros h3, .mision h3, .vision h3{
    padding-left: 0px;
}
.nosotros p{
    text-align: left;
}
.nosotros p, .mision p, .vision p{
    padding: 0 20px 0 20px;
}

.btn-registro{
    width: 100%;
    margin-left: 0px;
}

.method{
    justify-items:center;
}

.method-text{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "strategy      proyecto"
                         "ejecucion     comunicacion";
    padding: 20px;
}
.method-text div{
    margin-left: 30px;
}
.social{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "socialFb"      
                         "socialLk"
                         "socialTw";
   padding: 20px 200px 20px 200px;
}




/*---------------------------*/
/*------RESPONSIVE 600------*/
/*-------------------------*/

@media screen and (max-width: 600px){
.quienes{
    padding: 20px;
    margin-bottom: 0;
}
.quienes h3{
    margin-left: 20px;
}
.solucion{
    padding: 20px;
    margin-bottom: 50px;
}

.method{
    padding: 20px;
}

.method-text{
    grid-template-columns: 1fr;
    grid-template-areas: "strategy"      
                         "proyecto"
                         "ejecucion"     
                         "comunicacion";
    padding: 20px;
    width: 100%;
    margin-left: 0;
}

.social{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "socialFb"      
                         "socialLk"
                         "socialTw";
   padding: 20px 50px 20px 130px;
}
.social a{
    font-size: 1.06em;
}



/*---------------------------*/
/*------RESPONSIVE 500------*/
/*-------------------------*/

@media screen and (max-width: 500px){
.solucion{
    padding: 30px;
}
.solucion-text{
    grid-template-columns: 1fr;
    grid-template-areas: "talentos"
                         "tecno"
                         "btn-registro";
}

.social{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "socialFb"      
                         "socialLk"
                         "socialTw";
   padding: 20px 50px 20px 92px;
}
.social a{
    font-size: 1.06em;
}

/*---------------------------*/
/*------RESPONSIVE 370------*/
/*-------------------------*/

@media screen and (max-width: 370px){
.quienes h3{
    font-size: 2em;
}
.quienes p{
    font-size: 1.2em;
}
.section h4{
font-size: 2em;
}
.section h5{
font-size: 1.2em;
}
.impulsamos{
    font-size: 1.2em;
    margin-bottom: 0;
}

.solucion{
    margin-top: 0;
}

.solucion h3{
    font-size: 2em;
    margin-left: 0;
}
.solucion p{
    font-size: 1.2em;
}
.btn-registro a h4{
    font-size: 1.2em;
}

.method h3{
    font-size: 2em;
}
.method p{
    font-size: 1.2em;
}
.social{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "socialFb"      
                         "socialLk"
                         "socialTw";
   padding: 10px;
}
.social a{
    font-size: 0.90em;
}

}







