$verde: #2AA65A;
$limon: #8DC63F;
$amarillo: #FFF200;
$naranja: #FAA61A;
$rosa: #D80B8C;
$morado: #92278F;
$marino: #2E3192;
$azul: #0072BC;
$negro : #000;
$blanco : #fff;


$primary: #92278F; //Morado
$secondary: #D80B8C; // Rosa
$cta: #D80B8C; // Rosa
$bt-azul: #0072BC; // Azul