// Background Colors
.blanco-transparente {
	background-color: rgba(255, 255, 255, 0.7);
}

.azul-tbr {
	background-color: $azul !important;
}

.naranja {
	background-color: $naranja !important;
}

.bg-azul{
	background-color: $azul !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg-limon {
	background-color: $limon !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg-amarillo{
	background-color: $amarillo !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg-naranja{
	background-color: $naranja !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg-rosa{
	background-color: $rosa !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg-morado{
	background-color: $morado !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg-marino{
	background-color: $marino !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg-verde{
	background-color: $verde !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg-blanco{
	background-color: $blanco !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
