.texto-azul{
	color: $azul !important;
}
.texto-limon {
	color: $limon !important;
}
.texto-amarillo{
	color: $amarillo !important;
}
.texto-naranja{
	color: $naranja !important;
}
.texto-rosa{
	color: $rosa !important;
}
.texto-morado{
	color: $morado !important;
}
.texto-marino{
	color: $marino !important;
}
.texto-verde{
	color: $verde !important;
}
.texto-blanco{
	color: $blanco !important;
}