nav {
    background-color: $azul;
    .nav-wrapper {
        padding: 0;
        margin: 0;

        .brand-logo {
            .navWrapper__text {
                padding-left: 450px;
                display: inline-block;
            }

            .navWrapper__img {
                img {
                    position: absolute;
                    margin-top: 5px;
                    margin-left: 5px;
                    max-width: 150px;
                }
            }
        }
    }
}


@media only screen and (max-width: 800px) {
    nav {
        .nav-wrapper {
            .brand-logo {
                .navWrapper__text {
                    padding-left: 200px;
                    font-size: 0.5em;
                }
            }

            a {
                img {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    nav {
        .nav-wrapper {
            .navText {
                font-size: 1.2em;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    nav {
        .nav-wrapper {
            .navText {
                font-size: 1em;
            }
        }
    }
}

@media only screen and (max-width: 370px) {
    nav .nav-wrapper .navText {
        font-size: 0.9em;
    }
}

